<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="mat-elevation-z6">
    <div class="container-column">
      <button mat-button (click)="redirectToNodes()">Nodos</button>
      <button mat-button (click)="redirectToSunburst()">Sunburst</button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <mat-toolbar class="mat-elevation-z6" color="primary">
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        </button>
      </mat-toolbar>
      <div class="content">
        <router-outlet main></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>